# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/
venv/
.env

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
